@model FoodShop.Models.GMenuFood
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cup">
    <div class="col-md-4 cup-in">
        <a href="single.html"><img src="/Content/images/p6.jpg" class="img-responsive" alt=""></a>
        <p>@Html.DisplayFor(x => x.LsMenuFood[0].NameFood)</p>
        <span class="dollar">@Html.DisplayFor(x => x.LsMenuFood[0].PriceFood) K</span>
        <div class="details-in">
            @Html.ActionLink("Edit", "Edit", new { Name = @Model.LsMenuFood[0].NameFood }, new { @class = "details" })
            @Html.ActionLink("Delete", "Delete", new { Name = @Model.LsMenuFood[0].NameFood }, new { @class = "details" })
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href="single.html"><img src="/Content/images/p2.jpg" class="img-responsive" alt=""></a>
        <p>@Html.DisplayFor(x => x.LsMenuFood[1].NameFood)</p>
        <span class="dollar">@Html.DisplayFor(x => x.LsMenuFood[1].PriceFood) K</span>
        <div class="details-in">
            @Html.ActionLink("Edit", "Edit", new { Name = @Model.LsMenuFood[1].NameFood }, new { @class = "details" })
            @Html.ActionLink("Delete", "Delete", new { Name = @Model.LsMenuFood[1].NameFood }, new { @class = "details" })
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href="single.html"><img src="/Content/images/p3.jpg" class="img-responsive" alt=""></a>
        <p>@Html.DisplayFor(x => x.LsMenuFood[2].NameFood)</p>
        <span class="dollar">@Html.DisplayFor(x => x.LsMenuFood[2].PriceFood) K</span>
        <div class="details-in">
            @Html.ActionLink("Edit", "Edit", new { Name = @Model.LsMenuFood[2].NameFood }, new { @class = "details" })
            @Html.ActionLink("Delete", "Delete", new { Name = @Model.LsMenuFood[2].NameFood }, new { @class = "details" })
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href="single.html"><img src="/Content/images/p4.jpg" class="img-responsive" alt=""></a>
        <p>@Html.DisplayFor(x => x.LsMenuFood[3].NameFood)</p>
        <span class="dollar">@Html.DisplayFor(x => x.LsMenuFood[3].PriceFood) K</span>
        <div class="details-in">
            @Html.ActionLink("Edit", "Edit", new { Name = @Model.LsMenuFood[3].NameFood }, new { @class = "details" })
            @Html.ActionLink("Delete", "Delete", new { Name = @Model.LsMenuFood[3].NameFood }, new { @class = "details" })
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href="single.html"><img src="/Content/images/p5.jpg" class="img-responsive" alt=""></a>
        <p>@Html.DisplayFor(x => x.LsMenuFood[4].NameFood)</p>
        <span class="dollar">@Html.DisplayFor(x => x.LsMenuFood[4].PriceFood) K</span>
        <div class="details-in">
            @Html.ActionLink("Edit", "Edit", new { Name = @Model.LsMenuFood[4].NameFood }, new { @class = "details" })
            @Html.ActionLink("Delete", "Delete", new { Name = @Model.LsMenuFood[4].NameFood }, new { @class = "details" })
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="col-md-4 cup-in">
        <a href=""><img src="~/Content/images/none.jpg" class="img-responsive" alt=""></a>
        <p> Không có </p>
        <span class="dollar">K</span>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
<div class="browse">
    <p class="vit">Mollis vitae oigu edlobit <span>vulipur felis ...</span></p>
    <a href="single.html" class="more">Browse More</a>
    <div class="clearfix"> </div>
    <div class="arrow">
        <a href="#"><img src="~/Content/images/arrow.png" alt=""></a>
    </div>
</div>

