@model FoodShop.CSDL.Group_Index

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="single">
        <div class="col-md-9  single-top">
            <div class="text-in">
                <div class="single-men" style="width:720px;">
                    <div class="img-responsive">
                        <img style="float:left; width:425px; height:325px;" src="~/Content/images/@Model.LsFood[0].Image" alt="" />
                            <table style="font-size:1.3em; color:#848484; line-height:1.5em; float: left; width: 295px; height: 325px; text-align: center;">
                                <tr>
                                    <td style="color:#aa381e"> @Model.LsSupply[0].Name </td>
                                </tr>

                                <tr>
                                    <td> @Model.LsSupply[0].Vote Vote </td>
                                </tr>

                                <tr>
                                    <td> @Model.LsSupply[0].Address </td>
                                </tr>

                                <tr>
                                    <td> @Model.LsSupply[0].Phone </td>
                                </tr>
                            </table>
                    </div>
                  
                    <div class="clearfix"> </div>
                    <h5> @Model.LsFood[0].Name </h5>

                    <h5>  @Model.LsFood[0].UnitPrice K </h5>

                    <h5>  @Model.LsFood[0].Discount% </h5>

                    <h5>  @Model.LsFood[0].Quantity <img src="~/Content/images/star_vote.png"> </h5>

                    <div>
                    <h5 style="float:left;"> Rating </h5>
                        <div class="stars" style="float: left; width: 650px; padding-right: 320px;">
                            <form action="">
                                <input class="star star-5" id="star-5-2" type="radio" name="star" />
                                <label class="star star-5" for="star-5-2"></label>
                                <input class="star star-4" id="star-4-2" type="radio" name="star" />
                                <label class="star star-4" for="star-4-2"></label>
                                <input class="star star-3" id="star-3-2" type="radio" name="star" />
                                <label class="star star-3" for="star-3-2"></label>
                                <input class="star star-2" id="star-2-2" type="radio" name="star" />
                                <label class="star star-2" for="star-2-2"></label>
                                <input class="star star-1" id="star-1-2" type="radio" name="star" />
                                <label class="star star-1" for="star-1-2"></label>
                            </form>
                        </div>
                        </div>

                    <p>  @Model.LsFood[0].Description </p>
                </div>
                <ul class="comment-list">
                    <h5 class="post-author_head">Written by ADMIN</h5>
                    <li>
                        <img src="~/Content/images/avatar.png" class="img-responsive" alt="">
                        <div class="desc">
                            <p>View all posts by: <a href="#" title="Posts by admin" rel="author">admin</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <div class="comments-area">
                    <h3>Add New Comment</h3>
                    <form action="SingleComment">
                        <p>
                            <label>Subject</label>
                            <input type="text" name="txtcmt" class="account" value="">
                            @*<textarea name="txtcmt"></textarea>*@
                        </p>
                        <div class="sub-in">
                            <input type="submit" value="Submit Comment">
                        </div>
                        <div class="fb-comments" data-href="/  " data-numposts="5"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 single-bottom">
            <div class="store-right">
                <h6> Categories</h6>
                <ul class="store-men">
                    @foreach(var item in @Model.LsCategory)
                    {
                           <li><a href="#"><span> </span>@item.Name</a></li>
                    }
                </ul>
            </div>
            <div class="store-right">
                <h6>Top rated products</h6>
                @foreach(var item in @Model.LsFoodMain)
                {
                <div class="product">
                    <img class="img-responsive fashion" src="~/Content/images/@item.Image" style="width: 100px; height: 100px; color: #35a22c;" alt="" />
                    <div class="grid-product">
                        @Html.ActionLink(@item.Name, "Single", new { ID = @item.ID }, new { @class = "elit" })
                        <span class="price price-in"> @item.UnitPrice K</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                }
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>